//- very basics update
div= val
//- scope update:
scope.basicScope
    data
//- empty scope
scope.emptyScope
    div.mustNotBeHere
//- no scope obj:
scope.noScope
    div.mustNotBeHere
//- no array scope
.person
    scope.person
        data.name
        data.dob