//- scope update:
scope.basicScope
    div repeat me 3 times
//- empty scope
scope.emptyScope
    div.mustNotBeHere
//- no scope obj:
scope.noScope
    div.mustNotBeHere
//- no array scope
.person
    scope.person
        data(path="$scope.name")
        data(path="$scope.dob")
//- nested scope
scope.nested
    | Kind: #{$scope.kind}
    scope.values
        .subScopeItem
            data(path="$scope")
//- named scopes
scope#named.named
    scope#subNamed.subNamed
        | #{$named.val}, #{$subNamed.val}
for item in forScope
    | Out #{$item.val}    